@import url('style.css');

body {
    /*display: flex;*/
}
aside {
    width: 20%;
    height: 100%;
    border-right:  1px solid rgba(236,  234,  231, 1);
    font-family: 'Circle';
    font-weight: 300;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 30px;
}

main {
    /*width: 80%;*/
    display: flex;
    margin-top: 60px;
}

.categories {
    color: #4E76C6;
}

.categories a {
    color: #4E76C6;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

label {cursor: pointer;}

h1 {
    margin-left: 30px;
}

.linen-categories {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    cursor: pointer;
    color: #72716E;
}

.category:hover {
    color: #1E1E1E;
    background-color: #F5F3F0;
}

.category {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Orchidea Pro';
    width: 25%;
    border:  1px solid rgba(236,  234,  231, 1);
    font-size: 14px;
}

.category.selected {
    color: #1E1E1E;
    background-color: #F5F3F0;
}

.hidden {
    display: none;
}

.size {
    border:  1px solid rgba(236,  234,  231, 1);
    font-size: 14px;
    text-align: center;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bedLinen {margin-top: 30px; margin-bottom: 30px;}

.size:hover {
    background-color: #F5F3F0;
    color: #1E1E1E;
}

.sizes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.sizes > div {
    display: none;
}

.choose__print{
    background-color: #F5F3F0;
    border-radius: 5px;
    width: 190px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.print img {
    width: 30px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.print {height: 35px;}



/*СТИЛИ ДЛЯ СЛАЙДЕРА

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.thumbleft {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.thumbright {
	right: 25%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}
    */


    .slider-container {
        width: 90%;
        margin-right: 30px;
        margin-top: 20px;
    }

    .value-display {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .value-display span {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #f2f2f2;
    }

    /* Задаём толщину для самого трека слайдера */
    #sliderContainer .noUi-target {
    height: 5px;
    /* Толщина слайдера */
    background-color: #ddd;
    /* Цвет фона трека (можно изменить) */
    border: none;
    /* Удаляем стандартные границы */
    box-shadow: none;
    /* Удаляем тени */
}

/* Стилизация линии, заполняющей слайдер */
#sliderContainer .noUi-connect {
    background: #4E76C6;
    /* Цвет заполненной части слайдера */
    height: 5px;
    /* Эта толщина должна совпадать с треком */
}

/* Ползунок (ползунок может иметь различные стили, в зависимости от визуальных предпочтений) */
#sliderContainer .noUi-handle {
    width: 18px;
    /* Ширина ползунка */
    height: 18px;
    /* Высота ползунка */
    border-radius: 50%;
    /* Делает ползунок круглым */
    background-color: #fff;
    /* Цвет ползунка */
    border: 2px solid #4E76C6;
    /* Граница для контраста с треком */
    box-shadow: none;
    /* Убираем тень */
}

/* Чтобы ползунок был на одном уровне с треком */
.noUi-handle:before,
.noUi-handle:after {
    display: none;
}


.sort {
    display: flex;
    justify-content: space-between;
    font-family: 'Circle';
    color: #1E1E1E;
    font-weight: 300;
    height: 80px;
    align-items: center;
    margin-right: 50px;
}

.sort__parametres {
    width: 250px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 50px;
    
}