@import url('style.css');

body {
    display: flex;
}
aside {
    width: 20%;
    height: 100%;
    border-right:  1px solid rgba(236,  234,  231, 1);
    font-family: 'Circle';
    font-weight: 400;
}