.checkoutItems {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; /* Center the cart section */
  padding: 1rem 0;
}

.checkoutHeader {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border-bottom: 2px solid rgba(236, 234, 231, 1);
}

.checkoutHeader h1 {
  font-size: 2.5em;
  margin: 0.5rem 0;
  text-transform: uppercase;
  color: rgba(30, 30, 30, 1);
}

.smallTextHeader {
  color: rgba(114, 113, 110, 1);
  font-size: 1em;
}

.checkoutItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(236, 234, 231, 1);
}

.itemImage {
  width: 15rem;
  height: auto;
  border-radius: 0.5rem;
}

.itemColor {
  width: 2rem;
  height: auto;
  border-radius: 4px;
}

.itemDetails {
  flex: 1;
  margin-left: 1.5rem;
}

.itemDetails h2 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
  color: rgba(30, 30, 30, 1);
}

.sizeAndColor {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1em;
  color: rgba(114, 113, 110, 1);
}

.size {
  padding: 0.2rem 0.6rem;
  border: 1px solid rgb(219, 218, 216);
  border-radius: 0.3rem;
  background-color: rgba(245, 243, 240, 1);
}

.itemQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 8rem;
  height: 2.5rem;
  background-color: rgba(245, 243, 240, 1);
  border-radius: 1.5rem;
  font-size: 1.2em;
}

.quantityLess,
.quantityMore {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: rgba(236, 234, 231, 1);
  color: rgba(114, 113, 110, 1);
  cursor: pointer;
}

.quantityLess:hover,
.quantityMore:hover {
  background-color: rgba(219, 218, 216, 1);
}

.quantity {
  font-size: 1.2em;
  font-weight: bold;
}

.itemPrice {
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(30, 30, 30, 1);
  margin: 0 1rem;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60%;
  color: rgb(53, 35, 130);
  font-size: 1.2em;
  cursor: pointer;
  border: none;
}

button {
  border: none;
  background: none;
}

a {
  color: rgba(114, 113, 110, 1);
  text-decoration: none;
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
}

/*стили для боковой панели*/

/* .totals__inner-container {
  margin-left: 38px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.totals__item {
  display: flex;
  justify-content: space-between;
}
.circle,
.totals__terms-link,
.menu-link,
.total-price__name,
.product-quantity,
.totals__quantity {
  font-family: "Circe-Light";
  font-weight: 400;
  font-size: 14px;
  color: #72716e;
}
.totals__btn {
  height: 60px;
  border-radius: 35px;
  border: none;
  text-transform: uppercase;
} */
