@font-face {
    font-weight: 500;
    font-family: 'Orchidea Pro';
    src: url('../fonts/orchidea-pro/OrchideaPro-Regular.otf');
}

@font-face {
    font-weight: 400;
    font-family: 'Circle';
    src: url('../fonts/circe/Circe-Regular.woff');
}

@font-face {
    font-weight: 300;
    font-family: 'Circle';
    src: url('../fonts/circe/Circe-Light.woff');
}

body {
    padding: 5vw;
}

h1, h2 {
    text-transform: uppercase;
    font-family: 'Orchidea Pro';
    font-weight: 500;
}

h1 {font-size: 40px; color: #1E1E1E;}
h2 {font-size: 14px; color: #1E1E1E;}

p {font-family: 'Circle';
    font-weight: 400;}

.links-header {    /*Это стили для ссылок вверху над заголовками*/
    font-family: 'Circle';
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #72716E;
}

.links-header:hover {color: black;}

a {font-size: 14px;}

@media (min-width: 1800px) {
    body {
    max-width: 1200px;
    margin: 0 auto;
    }
}

